body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    padding: 10px;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

button {
    background-color: white;
    color: black;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 5%;
}

.infos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 500px;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}


@media (max-width: 480px) {
    .infos {
        width: 95%;
        padding: 10px;
    }

    button {
        width: 100%;
        max-width: 250px;
        padding: 10px 0;
    }
}
p {
    color: white;
    text-decoration: none;
}